{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd|openbsd|netbsd)", compile, "gmake -C c_src"}
    ]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd|openbsd|netbsd)", clean, "gmake -C c_src clean"}
    ]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/msantos/procket"}
]}.

{hex, [{doc, ex_doc}]}.

{erl_opts, [debug_info]}.
