{sub_dirs, ["priv/tmp"]}.

{so_name, "procket.so"}.

{port_sources, ["c_src/procket.c"]}.
{port_envs, [
    {"LDFLAGS", "$LDFLAGS -Lc_src -lancillary"}
    ]}.

% Use "-m64" for 64-bit Erlang installs
%{port_pre_script, {"make ARCH=-m64 -C c_src -f Makefile.ancillary -f Makefile.cmd", ""}}.
%{port_pre_script, {"make ARCH=-m32 -C c_src -f Makefile.ancillary -f Makefile.cmd", ""}}.
{port_pre_script, {"make -C c_src -f Makefile.ancillary -f Makefile.cmd", ""}}.
{port_cleanup_script, "rm c_src/*.a c_src/*.o priv/procket"}.
