{port_specs, [
    {"priv/procket.so", ["c_src/procket.c"]}
    ]}.

{port_env, [
    {"LDFLAGS", "$LDFLAGS -Lc_src -lancillary"},
    {"x86_64", "PROCKET_CFLAGS", "-m$(ERLANG_ARCH)"},
    {"i686", "PROCKET_CFLAGS", "-m$(ERLANG_ARCH)"},
    {"i386", "PROCKET_CFLAGS", "-m$(ERLANG_ARCH)"}
    ]}.

{pre_hooks, [
    {compile, "make -C c_src -f Makefile.ancillary -f Makefile.cmd"}
    ]}.

{clean_files, [
        "c_src/*.a",
        "c_src/*.o",
        "priv/procket"
    ]}.
